.details{
display: none !important;
}
body{
 background-color:none !important;
}
.main{
 max-width: fit-content !important; 
}
.ticket-label{
 display: none !important;
}

.ticket-icon{
 display: none !important;
}

.form{
  width: 35vw !important;
}
.question{
    max-width: 45% !important;
    margin: 2.5% !important;
}
