.details{
display: none !important;
}
body{
 background-color:none !important;
}
.main{
 
}
.ticket-label{
 display: none !important;
}

.ticket-icon{
 display: none !important;
}
.form{
 display:block !important; 
}
